<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <script src="/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/images/logo.png" type="image/png"> 
        <style>
        .logo {
            width: 100px; 
            height: auto;
        }
    </style>
</head>
<body>
    

    <div class="container text-center mt-5">
        <header class="my-4 text-center">
        </header>
        <h1 class="display-4">404 Page Not Found</h1>
        <p class="lead">Sorry, the page you are looking for does not exist.</p>
        <a href="/" class="btn btn-primary mt-3">Go back to the home page</a>
    </div>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About</h5>
                    <p>
                        BurungHantu is a premier accounting firm dedicated to providing top-notch financial services to businesses and individuals. Our team of experienced accountants and financial experts offers a comprehensive range of services, including tax planning, auditing, bookkeeping, and financial consulting. At BurungHantu, we are committed to helping our clients achieve their financial goals with precision and integrity. Our personalized approach ensures that each client receives tailored solutions that meet their unique needs. Trust BurungHantu to be your reliable partner in navigating the complexities of the financial world.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact Details</h5>
                    <p>
                        Email: loozfeng2704@gmail.com | Address: Subang Jaya
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center p-3 bg-dark text-white">
            &copy; 2024 BurungHantu. A BurungHantu Production. All rights reserved.
        </div>
    </footer>

</body>
</html>